<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="zone.ien.calarm">

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Calarm"
        tools:targetApi="31">
        <activity
            android:name=".activity.LocationActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.TimerRingActivity"
            android:exported="false"
            android:showOnLockScreen="true" />

        <service
            android:name=".service.TimerService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.StopwatchService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".activity.AlarmRingActivity"
            android:exported="false"
            android:showOnLockScreen="true" />
        <activity
            android:name=".activity.EditCalarmActivity"
            android:exported="false" />
        <activity
            android:name=".activity.EditAlarmActivity"
            android:exported="false" />
        <activity
            android:name=".activity.EditTimerActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Calarm" />

        <receiver android:name=".receiver.CalarmCreateReceiver" />
        <receiver android:name=".receiver.CalarmReceiver" />
        <receiver android:name=".receiver.AlarmReceiver" />
        <receiver android:name=".receiver.AlarmOffReceiver" />
        <receiver android:name=".receiver.AlarmSnoozeReceiver" />
        <receiver android:name=".receiver.TimerAlarmReceiver" />
        <receiver android:name=".receiver.TimerOffReceiver" />
        <receiver
            android:name=".receiver.CalendarChangeListener"
            android:enabled="true"
            android:exported="true"
            android:priority="1000">
            <intent-filter>
                <action android:name="android.intent.action.PROVIDER_CHANGED" />

                <data android:scheme="content" />
                <data android:host="com.android.calendar" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_api_key" />
    </application>

</manifest>